

#send { padding: 3px; position: fixed; top:73.5vh; width: 70%; font-family:Roboto-light;}
#send input 
{
    background: gray;
    left: 0px; 
    border: solid 2px white;
    padding: 15px;
    width: 90%;
    margin-right: .3%;
    height: 49px; 
    position:relative;
    top:-2px; 
    font-size:20px; 
    color: white; 
}
#send button 
{
    background: gray; 
    width: 9.5%; 
    border: solid 2px white; 
    padding: 10px;
    height: 49px; 
    position: relative; 
    left: 2px; 
    font-size: 20px; 
    color: white;
}


/*place holder color*/
#send input::-webkit-input-placeholder {

   color: white;
}

#send input:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

#send input::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}


@font-face{
    font-family: Roboto-light;
    src: url(/Roboto-Light.ttf);
}
@font-face{
    font-family: Roboto-thin;
    src: url(/Roboto-Thin.ttf);
}


* { margin: 0; padding: 0; box-sizing: border-box; }

  
  #messages {
    font-family: Roboto-light;
    font-size: 20px;
    color: black;
    float:left;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    height:73vh; 
    width: 70%; 
    overflow:auto;
    background: gray;
    border: 2px white solid;
    
    
    }

  #messages li {padding: 10px; border-radius:15px; background: #ABB7B7; color: black; margin-top: .5%; }
  #messages li#you {padding: 10px; border-radius:15px; background: #BFBFBF; color: black; margin-top: .5%;}



#selecthold{

}
.data-style{
    font-family: Roboto-thin;
}

#namehold{
    /*float:left;*/
}

#namebox{
  
    width: 120px;
    height: 36px;
    
    background-color: white;
    color: black;
    font-size: 16px;
    box-sizing: border-box;
    padding: 4px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#buthold p{
    color:white;

}

#change{
    font-family: Helvetica;
    position: relative;
    padding: 16px 32px;
    top:0px;
    left:7.55vw;
    text-align:center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
    background-color: transparent; 
    color: white; 
    border: 2px solid white;
    
} 

#change:hover{
    background-color: white;
    color: gray;
    border: 0px solid #95a5a6;
   
}